#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 2rem;
    margin-top: 2rem;
}

img {
    width: 25rem;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    border-radius: 1rem;
}
